<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.first.pilling.user.service.map.UserMapper">

<select id="userSelectList"></select>
<select id="userSelect">
	SELECT * FROM `user` WHERE USER_ID = #{userId}
	<if test="userPswd != null">
		AND USER_PSWD = #{userPswd}
	</if> 
</select>
<insert id="userInsert">
	INSERT INTO `user`(
	user_id, user_pswd, user_lastname, user_firstname, user_birthdate, user_gender, user_email, user_tel, user_addr, user_addrdetail)
		VALUES(#{userId},#{userPswd},#{userLastname},#{userFirstname},#{userBirthdate},#{userGender},#{userEmail},#{userTel},#{userAddr},#{userAddrdetail})
</insert>
<update id="userUpdate">
	UPDATE `user`
	SET user_pswd=#{userPswd}, user_tel=#{userTel}, user_eamil=#{userEmail}, user_addr=#{userAddr}, user_addrdetail=#{userAddrdetail}, user_marketingYn=#{userMarketingYn}, user_signout=#{userSignout}
	WHERE user_id = #{userId}
	</update>
<delete id="userDelete"></delete>
<select id="userPassword" parameterType="String">
	SELECT * FROM `user` WHERE USER_ID=#{userId} AND USER_PSWD=#{userPswd}
</select>
</mapper>
