<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.first.pilling.user.service.map.UserMapper">

<select id="userSelectList"></select>
<select id="userSelect">
	SELECT * FROM `user` WHERE USER_ID = #{userId}
	<if test="userPswd != null">
		AND USER_PSWD = #{userPswd}
	</if> 
</select>
<insert id="userInsert">
	INSERT INTO 'user' {
	VALUES {
	#{userNo}, 
	#{levelId}, 
	#{userId}, 
	#{userPswd}, 
	#{userLastname}, 
	#{userFirstname}, 
	#{userBirthdate}, 
	#{userGender}, 
	#{userEmail}, 
	#{userTel}, 
	#{userAddr}, 
	#{userAddrdetail}, 
	#{userTotalamount},
	#{userMarketingYn},
	#{userAuthor},
	#{userSignout}
	}
</insert>
<update id="userDelete"></update>
<delete id="userUpdate"></delete>

</mapper>