/* Hyunwoo Style Start */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!주의!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  */
/* 복사해서 본인거에 쓰세용!!  */

li {
  list-style: none;
}

.filterItem {
  padding-left: 0px;
}

.bg-pillgreen {
  background-color: #3faf08 !important;
}

.name-item {
  width: 47%;
}

.keywordName {
  display: inline-block;
  padding: 0px 10px;
  border-radius: 21px;
  background: yellow;
  color: black;
  font-weight: 400;
  margin: 2px;
}

/* p 태그 상하좌우 마진을 없애는 클래스 CSS  */
.ptag-margin {
  margin: 5px !important;
}

/* productdetailpage에서 사용하는 것들 START */

.sub-product-name {
  color: #7f848b !important;
  margin: 0.5rem 0px 1.625rem;
  font-size: 2.25rem;
}

.main-product-name {
  font-size: 5rem;
}

.keywordHeader {
  flex-wrap: wrap;
  border-bottom: 0.125rem solid #d0d0d0;
  padding-bottom: 1rem;
  font-size: 1rem;
}

.product-discription {
  padding: 0%;
  margin: 0%;
  margin-bottom: 1rem;
}

.product-detail-header {
  flex: 0 0 auto;
  width: 50%;
}

.product-detail-image {
  flex: 0 0 auto;
  width: 50%;
}

.product-discription-list {
  font-size: 1.2rem;
  margin: 0.25rem;
}

.mid-line {
  margin: 7rem;
}

.detail-buy-button {
  margin-right: 1rem;
}

.product-detail-content-img {
  width: 40%;
  text-align: center;
  margin-left: 2rem;
}

.product-detail-content {
  width: 60%;
  text-align: center;
}

.boundary-border {
  border-bottom: 0.125rem solid #d0d0d0;
  padding-bottom: 1rem;
}

.content-card-wrap {
  padding: 10px 40px;
  width: 60%;
  background: #fff;
  border: 1px solid #e6e9ed;
  border-radius: 20px;
}

.taking-method {
  padding: 20px 0px;
  width: 100%;
  border: 1px solid #e6e9ed;
  border-radius: 20px;
}

.taking-method img {
  width: 70px;
  height: 70px;
  display: block;
  float: left;
}

.taking-text1 {
  margin-left: 40px;
  display: block;
  float: left;
  font-size: 20px;
  font-weight: 600;
}

.taking-text2 {
  float: right;
  background: #fdf001;
  border-radius: 15px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  margin: 20px 0px 0px;
  padding: 0px 15px;
  height: 30px;
  line-height: 30px;
}
/* productdetailpage에서 사용하는 것들 END */

/* productpurchase 에서 사용하는 것들 START */
.productpurchase-header {
  background: url(../img/productimage/productrbanner.jpg) center center no-repeat;
  background-size: cover;
  margin-bottom: 2rem;
}

.productpurchase-pagination {
  margin-top: 3rem;
}

.productAddBtn {
  text-align: end;
  margin-top: 0rem !important;
}

/* productpurchase 에서 사용하는 것들 END */

/* surveypage 에서 사용 하는 것들 START */
.survey-container {
  padding: 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.survey-question-container {
  flex-direction: column;
}

.survey-question-card {
  background-color: #ffffff;
  border: 0.125rem #ffffff;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0.5rem 0px;
  padding: 1rem;
  transition: border-color 0.8s ease 0s;
  padding: 3rem;
}

/* Hyunwoo Style END */
