/* Hyunwoo Style Start */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!주의!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  */
/* 복사해서 본인거에 쓰세용!!  */

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

li {
  list-style: none;
}

.filterItem {
  padding-left: 0px;
}

.name-item {
  width: 47%;
}

.keywordName {
  display: inline-block;
  padding: 0px 10px;
  border-radius: 21px;
  background: yellow;
  color: black;
  font-weight: 400;
  margin: 2px;
}

/* main으로 사용 할 것들 START */
.bg-maincolor {
  background-color: #0ae4b0 !important;
}

.bg-subcolor {
  background-color: #75eba7 !important;
}

.text-maincolor {
  color: #ffffff !important;
}

.text-mintcolor {
  color: #0ae4b0 !important;
}

.nav-text-color {
  color: #9e9e9e !important;
}

.nav-text-color:hover {
  color: #0ae4b0 !important;
}

.navbar-bottom-border {
  border-bottom: solid;
  border-color: #e5e7eb;
  border-width: 0.1rem;
}

.footer-top-border {
  border-top: solid;
  border-color: #e5e7eb;
  border-width: 0.1rem;
  margin-bottom: 3rem;
}

.footer-row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
}

.bg-pillgreen {
  background-color: #3faf08 !important;
}

.text-size01 {
  font-size: 1.05rem !important;
  font-weight: 500 !important;
}

.text-size02 {
  font-size: 1.1rem !important;
  font-weight: 600;
}

.text-size03 {
  font-size: 1.3rem !important;
  font-weight: 600;
}

.font-custom {
  font-family: 'Pretendard-Regular', sans-serif !important ;
  font-size: 3rem;
}

.font-family-pretendard {
  font-family: 'Pretendard-Regular', sans-serif !important ;
}

.banner-background {
  background-image: url('resources/pilling/img/bannerpoint.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  margin-bottom: 20px;
  color: #ffffff;
}

.feature-bg {
  background-color: #75eba7 !important; /* Adjust the color to match your design */
}
.feature-card {
  background-color: #fff;
  color: #333;
  border: none;
}
.feature-icon {
  height: 100px;
  width: auto; /* Placeholder for actual image height */
}
.feature-card h5 {
  font-weight: bold;
}
.feature-card p {
  font-size: 0.9rem;
}

.footer-card {
  border-radius: 1rem; /* Rounded corners for the cards */
  padding: 2rem; /* Padding inside the cards */
  height: 250px; /* Fixed height for the cards */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feedback-card {
  background-color: #f8f9fa; /* Bright yellow color */
}

.service-card {
  background-color: #f8f9fa; /* Light grey background */
}

.recruitment-card {
  background-color: #f8f9fa; /* Light grey background */
}

.card-title {
  font-size: 1.5rem; /* Large font size for the titles */
}

.card-text {
  font-size: 1rem; /* Standard font size for the content */
  margin-bottom: 1rem; /* Space below the text */
}

.card-button {
  border: none; /* No border for the buttons */
  background-color: #ffffff; /* White background for the buttons */
  color: #000000; /* Black text for the buttons */
  padding: 0.5rem 1rem; /* Padding inside the buttons */
  text-align: center; /* Center the text inside the buttons */
  border-radius: 0.5rem; /* Slightly rounded corners for the buttons */
  text-decoration: none; /* No underline on the buttons */
}

/* Ensure the layout doesn't break on small screens */
@media (max-width: 576px) {
  .footer-card {
    height: auto; /* Let the cards adjust in height on small screens */
  }
}

.btn-outline-dark-hyunwoo {
  color: #111;
  border-color: #111;
}
.btn-outline-dark-hyunwoo:hover {
  color: #fff;
  background-color: #0ae4b0;
  border-color: #0ae4b0;
}

/* main으로 사용 할 것들 END */

/* p 태그 상하좌우 마진을 없애는 클래스 CSS  */
.ptag-margin {
  margin: 5px !important;
}

/* productdetailpage에서 사용하는 것들 START */

.sub-product-name {
  color: #7f848b !important;
  margin: 0.5rem 0px 1.625rem;
  font-size: 2.25rem;
}

.bottom-padding {
  padding-bottom: 3rem !important;
}

.main-product-name {
  font-size: 5rem;
}

.keywordHeader {
  flex-wrap: wrap;
  border-bottom: 0.125rem solid #d0d0d0;
  padding-bottom: 1rem;
  font-size: 1rem;
}

.product-discription {
  padding: 0%;
  margin: 0%;
  margin-bottom: 1rem;
}

.product-detail-header {
  flex: 0 0 auto;
  width: 50%;
}

.product-detail-image {
  flex: 0 0 auto;
  width: 50%;
}

.product-discription-list {
  font-size: 1.2rem;
  margin: 0.25rem;
}

.mid-line {
  margin: 7rem;
}

.detail-buy-button {
  margin-right: 1rem;
}

.product-detail-content-img {
  width: 40%;
  text-align: center;
  margin-left: 2rem;
}

.product-detail-content {
  width: 60%;
  text-align: center;
}

.boundary-border {
  border-bottom: 0.125rem solid #d0d0d0;
  padding-bottom: 1rem;
}

.content-card-wrap {
  padding: 10px 40px;
  width: 60%;
  background: #fff;
  border: 1px solid #e6e9ed;
  border-radius: 20px;
}

.taking-method {
  padding: 20px 0px;
  width: 100%;
  border: 1px solid #e6e9ed;
  border-radius: 20px;
}

.taking-method img {
  width: 70px;
  height: 70px;
  display: block;
  float: left;
}

.taking-text1 {
  margin-left: 40px;
  display: block;
  float: left;
  font-size: 20px;
  font-weight: 600;
}

.taking-text2 {
  float: right;
  background: #fdf001;
  border-radius: 15px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  margin: 20px 0px 0px;
  padding: 0px 15px;
  height: 30px;
  line-height: 30px;
}
/* productdetailpage에서 사용하는 것들 END */

/* productpurchase 에서 사용하는 것들 START */
.productpurchase-header {
  background: url(../img/productimage/productrbanner.jpg) center center no-repeat;
  background-size: cover;
  margin-bottom: 2rem;
}

.productpurchase-pagination {
  margin-top: 3rem;
  font-size: 1.2rem !important;
  font-weight: 500 !important;
}

.productAddBtn {
  text-align: end;
  margin-top: 0rem !important;
}

/* productpurchase 에서 사용하는 것들 END */

/* surveypage 에서 사용 하는 것들 START */
.survey-container {
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.survey-question-container {
  flex-direction: column;
}

.survey-question-card {
  background-color: #ffffff;
  border: 0.125rem #ffffff;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 1rem 0px;
  transition: border-color 0.8s ease 0s;
  padding: 2rem;
  text-align: left;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-image-radius {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.btn-white {
  color: black;
  background-color: white;
  border-color: #ddd;
  font-size: 18px; /* 버튼의 글자 크기를 조정 */
  padding: 10px 24px; /* 버튼의 패딩을 조정하여 크기를 조절 */
}

.btn-white:hover,
.btn-white:focus {
  color: white;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-white.active {
  color: white;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-group-toggle > .btn input[type='radio'] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.question-set {
  display: none;
}

.question-set:first-of-type {
  display: block;
}

.backhomeBtn {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}

.backhomeBtn:hover {
  color: #fff;
  background-color: #157347;
  border-color: #146c43;
}

.comeback-home {
  width: 100vh;
  text-align: end;
  margin-bottom: 3rem;
}

.comeback-homeBtn {
  width: 30vh;
  font-size: 1.25rem;
}

.nextprve-btn-container {
  justify-content: space-evenly;
}

.next-btn {
  width: 30vh;
  font-size: 1.25rem;
}

.prev-btn {
  width: 30vh;
  font-size: 1.25rem;
}

.submit-btn {
  width: 30vh;
  font-size: 1.25rem;
}

.pagination-color {
  color: black;
}
/* Hyunwoo Style END */
