<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="co.first.pilling.customerservice.map.CustomerserviceMapper">
	<select id="noticeSelectList">
		SELECT * FROM notice
		ORDER BY CAST(notice_id AS
		UNSIGNED) DESC
		LIMIT #{offset}, 5
	</select>
	<select id="noticeSearchList"></select>
	<select id="noticeDetail">
		SELECT * FROM notice
		WHERE notice_id = #{noticeId}
	</select>
	<insert id="noticeInsert">
		INSERT INTO notice (notice_id, user_no, notice_title,
		notice_content, notice_img, notice_attach, notice_attachpath)
		VALUES
		((SELECT IFNULL(MAX(notice_id), 0)+1 FROM (SELECT notice_id FROM
		notice) AS dummy), #{userNo}, #{noticeTitle}, #{noticeContent}, #{noticeImg}, #{noticeAttach}, #{noticeAttachpath})
	</insert>
	<update id="noticeUpdate">
		UPDATE notice
		<set>
			notice_title = #{noticeTitle},
			notice_content = #{noticeContent}
		</set>
		WHERE notice_id = #{noticeId}
	</update>
	<delete id="noticeDelete">
		DELETE FROM notice WHERE notice_id = #{noticeId}
	</delete>
	<select id="selectCount">
		SELECT COUNT(*) AS TOTAL_RECORD_COUNT FROM notice
	</select>
</mapper>